*
!/.bash_profile
!/.bashrc
!/.config/
!/.config/autostart/
!/.config/autostart/*
!/.config/i3status/
!/.config/i3status/*
!/.emacs.d/
!/.emacs.d/*
/.emacs.d/places
/.emacs.d/.smex-items
!/.emacs.d/lisp/
!/.emacs.d/lisp/*
!/.emacs.d/paul/
!/.emacs.d/paul/*
!/.fonts/
!/.fonts/Glass_TTY_VT220.ttf
!/.fonts/mensch-1.0.ttf
!/.gitconfig
!/.gitignore
!/.i3/
!/.i3/config
!/.keysnail.js
!/.lein/
!/.lein/*
!/.profile
!/.ssh/
!/.ssh/id_rsa.pub
!/.system/
!/.system/usr/
!/.system/usr/share/
!/.system/usr/share/X11/
!/.system/usr/share/X11/xorg.conf.d/
!/.system/usr/share/X11/xorg.conf.d/20-intel.conf
!/.tmux.conf
!/.xbindkeysrc
!/.xsessionrc
!/bin/
!/bin/*
!/bin/lib/
!/bin/lib/*
!/LICENSE.txt
!/README.org
