*
!/.bashrc
!/.gitconfig
!/.gitignore
!/.i3/
!/.i3/config
!/.profile
!/.ssh/
!/.ssh/id_rsa.pub
!/LICENSE.txt
!/README.org
!/.xbindkeysrc
!/.xsessionrc
!/bin/
!/bin/bootstrap
!/bin/bootstrap-dotfiles
!/bin/bootstrap-system
!/bin/lein
!/bin/lib/
!/bin/lib/gsettings.bash
!/bin/lib/log.bash
!/bin/lib/packages.bash
!/bin/lib/require.bash
!/bin/raise-or-run
