*
!/.bashrc
!/.fonts/
!/.fonts/Glass_TTY_VT220.ttf
!/.fonts/mensch-1.0.ttf
!/.gitconfig
!/.gitignore
!/.i3/
!/.i3/config
!/.profile
!/.ssh/
!/.ssh/id_rsa.pub
!/.xbindkeysrc
!/.xsessionrc
!/bin/
!/bin/bootstrap
!/bin/bootstrap-dotfiles
!/bin/bootstrap-system
!/bin/lein
!/bin/lib/
!/bin/lib/gsettings.bash
!/bin/lib/log.bash
!/bin/lib/packages.bash
!/bin/lib/require.bash
!/bin/raise-or-run
!/LICENSE.txt
!/README.org
